/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #555;
  font-family: "Gilroy", "Arial", sans-serif;
  width: 100%;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgba(255,255,255,.95);
}

a.purple {
  color: #422e7e;
}

a.btn {
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(145deg, #67D690,#00A99D);
  padding: 20px 46px;
  cursor: pointer;
  letter-spacing: .5px;
}

a.btn:hover {
  background: linear-gradient(145deg, #6ddf97,#01b8ab);
}

.btn-link {
  background: transparent;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
  align-items: center;
}

hr {
 max-width: 100px;
 height: 3px;
 background: linear-gradient(145deg, #724092,#422e7e);
 border: 0;
 margin: 10px auto;
}

section h3.title {
  font-size: 32px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold; 
  margin-bottom: 30px;
}

section p {
  line-height: 2;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

@media (max-width: 1050px) {
  .flex-col-mobile {
    flex-direction: column;
  }
}

.container {
  width: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

/* Header Styles */

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 20px 80px;
  align-items: center;
  justify-content: center;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header-wrapper div, nav.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-wrapper nav.desktop-nav {
  margin-right: -15px;
}

header nav.desktop-nav li {
  margin: 0 15px;
}

header nav.mobile-nav button {
  color: #fff;
  font-size: 1.17em;
  cursor: pointer;
}

@media (max-width: 800px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  header nav.desktop-nav {
    display: none;
  }
}

@media (min-width: 800px) {
  header nav.mobile-nav {
    display: none;
  }
  .sidebar-wrapper {
    display: none;
  }
}

/* Sidebar */

.shade {
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-size: cover;
  background-image: url("./img/purple-projects-bg.png");
}

.menu-item {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  opacity: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.sidebar .fa-close {
  padding: 10px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 5px;
  color: #fff;
}

.sidebar .fa-close:hover {
  opacity: .8;
}

/* Hero Styles */

.hero {
  position: relative;
  justify-content: center;
  text-align:center;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #4c2d80;
}

.hero-image {
  display: flex;
  width: 100%;
  align-items: center;
}

.hero-image img {
  max-width: 715px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.hero h1, .not-found h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: "Gilroy", "Arial", sans-serif;
  margin-bottom: 15px;
}

.hero p, .not-found p {
  font-size: 18px;
  font-family: "Montserrat", "Arial", sans-serif;
  margin-bottom: 40px;
}

.hero-content-area {
  display: flex;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    padding: 15px 40px;
  }
  .hero-image {
    width: 100%;
    text-align: center;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
  .hero-text p {
    padding: 0px;
  }
}

@media (max-width: 1050px) {
  .hero-image img {
    max-width: 515px;
  }
}


/* About */

section.about {
  min-height: 700px;
  justify-content: center;
  width: 100%;
  background-image: url("./img/about-bg.png");
  text-align: left;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.about-wrapper .about-text {
  width: 100%;
  padding: 0px 30px 30px 0px;
}

.about-skills p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .about-wrapper .about-text {
    padding: 0px;
  }
}


/* Projects */

section.projects {
  left: 0;
  width: 100%;
  background-size: cover;
  background-image: url("./img/purple-projects-bg.png");
  color: #fff;
}

.projects .title {
  text-align: center;
}

.project-card {
  background: #fff;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  height: 380px;
  box-shadow: 0px 10px 40px 0 rgba(42, 43, 46, 0.4);
  padding: 30px;
  margin: 20px;
}

.project-card img {
  width: 80px;
  margin: 20px 0px;
}

.project-card p {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-size: .80rem;
  min-height: 50px;
  text-align: center;
}

.project-card .btn {
  width: 100%;
}

@media (max-width: 320px) {
  .project-card {
    width: 280px;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls .dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.controls .dot:focus {
  outline: none;
}

.controls .dot.active {
  opacity: .5;
}

.controls .dots {
  display: flex;
}

/* Contact */

section.contact {
  max-width: 700px;
  margin: 0 auto;
}

section.contact .contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

section.contact img {
  max-width: 160px;
  margin: 0 auto;
}

section.contact p {
  text-align: center;
}

@media (max-width: 800px){
  section.contact img {
    width: 120px;
  }
}

/* Footer */
footer {
  background: #442467;
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}

footer .footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer .logo {
  align-items: flex-start;
  flex-direction: column;
}

footer .logo .btn-link {
  font-size: 12px;
  font-family: 'Montserrat', Arial, sans-serif;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

footer .social-icons {
  justify-content: flex-end;
}

footer .social-icons i {
  margin-left: 15px;
  font-size: 20px;
}

footer .social-icons i:hover {
  opacity: .8;
}

@media (max-width: 800px) {
  footer {
    padding: 20px;
  }
}

/* Modal */

.modal {
  position: relative;
  margin: 0 auto;
  background: #fff;
  max-width: 300px;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.modal i {
  padding: 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.modal i:hover {
  opacity: .8;
}

.modal-content a {
  color: #555;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.modal-content ul {
  margin-top: 15px;
}

.focus-trap:focus {
  outline: none;
}

/* 404 Page */
.not-found {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;  
}

.not-found .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #4c2d80;
}

@media (max-width: 800px) {
  .not-found h1 {
    font-size: 35px;
  }
  .not-found p {
    font-size: 14px;
  }
}

/*  Icon/Image Credit List */

ul.credit-list {
    list-style: disc;
    margin-left: 15px;
}